{% extends "base-inner.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div id="blur2">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                <p>
                    We're a team of aspiring individuals who have never actually traveled in our lives but spend everyday sitting in front of
                    a computer browsing for places to put into this website.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> I didn't sign up for this, where's the easy part </li>
                    <li><i class="ri-check-double-line"></i> I had a culture shock when I first entered the class</li>
                    <li><i class="ri-check-double-line"></i> I wanna kill myself</li>
                </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    We're really not that advanced in terms of programming, but we're trying our best right now so please if you're reading this teacher
                    pls pls pls give us good grades T-T we are struggling so hard rn whoever tf said univserity is fun they fucking lied 
                    cant believe i fell for it i wanna go back to elementary.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

            </div>
        </section>
        <section id="team" class="team section-bg">
          <div class="container" data-aos="fade-up">

          <div class="section-title">
              <h2>Team</h2>
              <p>As you can see we only have 3 people in this team, which is if my math is correct, not a lot. 
                We need help with API 
              </p>
          </div>

          <div class="row">

              <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/teammember.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Thou Sokphanun</h4>
                  <span>Chief Executive Officer</span>
                  <p></p>
                  <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                  </div>
              </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                  <div class="pic"><img src=static/teammember.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Tie Keanghao</h4>
                  <span>Product Manager</span>
                  <p>jg yy tha ot dg</p>
                  <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                  </div>
              </div>
              </div>

              <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                  <div class="pic"><img src="static/teammember.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                  <h4>Thon Ratha</h4>
                  <span>CTO</span>
                  <p>jg yy thaaaaaaaaaaaaaaaaaaaaa</p>
                  <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                  </div>
              </div>
              </div>

              

          </div>

          </div>
      </section>
    </div>
{% endblock %}