{% extends "base-main.html" %} {% block title %}Trip Planner{% endblock %} {%
block content %}
<!--HERO SECTION-->
<div id="blur2">
  <section id="hero" class="d-flex">
    <img
      class="mainbg"
      src="static/img/mainbg1.png"
      alt=""
      data-aos="fade-in"
    />
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row align-items-center justify-content-center">
        <!-- col -->
        <div class="col-lg-6 mb-6 mb-lg-0">
          <div class="" data-aos="zoom-out" data-aos-delay="200">
            <!-- heading -->
            <h5 class="text-white mb-4">Need a place to go?</h5>
            <!-- heading -->
            <h1 class="display-3 fw-bold mb-3">
              Plan your next <span class="highlight">trip</span> here !
            </h1>
            <!-- para -->
            <p class="text-white pe-lg-10 mb-5">
              Delve into our comprehensive trip suggestions based off of your
              own taste. Alone or with people, your trips will always be fun and
              tailored just for you!
            </p>
            <!-- btn -->
            <a href="{{ url_for('views.tripplan') }}" class="btn"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--MAIN SECTION-->
<section id="info1" class="info1">
  <div class="container d-flex justify-content-center" data-aos="fade-up">
    <div class="row d-flex align-items-center">
      <div
        class="col-sm-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="static/img/cambodia.jpg"
          class="img-fluid img animated rounded-circle mb-2"
          alt=""
        />
      </div>
      <div
        class="col-sm-6 pt-4 pt-lg-0 content"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="features" class="features">
  <!--  Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Features</h2>
    <p>
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4 align-items-center features-item">
      <div
        class="col-lg-5 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3>Corporis temporibus maiores provident</h3>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
      </div>
      <div
        class="col-lg-7 order-1 order-lg-2 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="100"
      >
        <div class="image-stack">
          <img src="static/img/travelcar2.jpg" alt="" class="stack-front" />
          <img src="static/img/travelcar.jpg" alt="" class="stack-back" />
        </div>
      </div>
    </div>
    <!-- Features Item -->

    <div
      class="row gy-4 align-items-stretch justify-content-between features-item"
    >
      <div
        class="col-lg-6 d-flex align-items-center features-img-bg"
        data-aos="zoom-out"
      >
        <img src="static/img/travelcar.jpg" class="img-fluid rounded" alt="" />
      </div>
      <div
        class="col-lg-5 d-flex justify-content-center flex-column"
        data-aos="fade-up"
      >
        <h3>Sunt consequatur ad ut est nulla</h3>
        <p>
          Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia
          minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor
          doloremque.
        </p>
        <ul>
          <li>
            <i class="bi bi-check"></i>
            <span
              >Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>
              Duis aute irure dolor in reprehenderit in voluptate velit.</span
            >
          </li>
          <li>
            <i class="bi bi-check"></i>
            <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span
            >.
          </li>
        </ul>
      </div>
    </div>
    <!-- Features Item -->
  </div>
</section>
<!--info2-->
<section id="info2" class="info2">
  <div class="container d-flex justify-content-center" data-aos="fade-up">
    <div class="row d-flex align-items-center justify-content-between">
      <div
        class="col-sm-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="static/img/travel3.png"
          class="img-fluid animated rounded-circle mb-2"
          alt=""
        />
      </div>
      <div
        class="col-sm-6 pt-4 pt-lg-0 content"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ======= features ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>MAIN FEATURES</h2>
      <p>
        Our website offers a really insane main feature that has been described
        over 20 times already since the moment you visited this site. However we
        will make you go through it again ( just to make sure )
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Free Plan</h3>
          <h4><sup>$</sup>0<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li class="na">
              <i class="bx bx-x"></i>
              <span>Pharetra massa massa ultricies</span>
            </li>
            <li class="na">
              <i class="bx bx-x"></i>
              <span>Massa ultricies mi quis hendrerit</span>
            </li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box featured">
          <h3>Business Plan</h3>
          <h4><sup>$</sup>29<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
            <li>
              <i class="bx bx-check"></i> Massa ultricies mi quis hendrerit
            </li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="box">
          <h3>Developer Plan</h3>
          <h4><sup>$</sup>49<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
            <li>
              <i class="bx bx-check"></i> Massa ultricies mi quis hendrerit
            </li>
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            class="collapse"
            data-bs-target="#faq-list-1"
            >Non consectetur a erat nam at lectus urna duis?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
              volutpat lacus laoreet non curabitur gravida. Venenatis lectus
              magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-2"
            class="collapsed"
            >Feugiat scelerisque varius morbi enim nunc?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant
              morbi. Id interdum velit laoreet id donec ultrices. Fringilla
              phasellus faucibus scelerisque eleifend donec pretium. Est
              pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
              cursus turpis massa tincidunt dui.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-3"
            class="collapsed"
            >Dolor sit amet consectetur adipiscing elit?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices
              sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla
              pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque
              eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
              molestie at elementum eu facilisis sed odio morbi quis
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-4"
            class="collapsed"
            >Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo.
              Dignissim suspendisse in est ante in. Nunc vel risus commodo
              viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
              bibendum est. Purus gravida quis blandit turpis cursus in.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-5"
            class="collapsed"
            >Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis
            nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
              vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
              nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
              venenatis tellus in metus vulputate eu scelerisque.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section d-->
{% endblock %}
